# Ignore node_modules for Docker build
node_modules
npm-debug.log
yarn-error.log

# Terraform directories
.terraform
*.tfstate
*.tfstate.*

# Git files
.git
.gitignore

# IDE / OS files
.vscode
.DS_Store

# Logs
*.log

# Docker build cache / output
*.tar
